node_modules/
www/
.freebuff/
sample.pdf
*.keystore
*.b64
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/capacitor-cordova-android-plugins/
android/app/src/main/assets/
.DS_Store
